.recipe{
    height: 100%;
}


.actions {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    opacity: 0;
}

.modal-exit .actions,
.modal-exit-active .actions {
    opacity: 0 !important;
}

.modal-appear-active .actions,
.modal-enter-active .actions {
    opacity: 1;
}

.floating {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating .like {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    opacity: 0;
    width: 5px;
    height: 5px;
    background-color: #EE6061;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-exit .floating .like,
.modal-exit-active .floating .like {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.modal-appear-active .floating .like,
.modal-enter-active .floating .like {
    opacity: 1;
    width: 56px;
    height: 56px;
}
