.recipe .title img {
    float: left;
    margin: 16px;
    width: 52px;
}

.recipe .header img {
    width: 100%;
}

.recipe .header .actions {
    position: absolute !important;
    display:flex;
}

.recipe .header .actions.right{
    right: 0;
}

.recipe .header .floating{
    position: absolute !important;
    display:flex;
    right: 25px;
    bottom: -25px;
}
