.recipe .title img {
    float: left;
    margin: 16px;
    width: 52px;
}

.recipe .header img {
    width: 100%;
}

.recipe .header .actions {
    position: absolute !important;
    display:flex;
}

.recipe .header .actions.right{
    right: 0;
}

.recipe .header .floating{
    position: absolute !important;
    display:flex;
    right: 25px;
    bottom: -25px;
}

.recipe .text{
    font-size: 16px !important;
}

.recipe .ingredient {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipe .ingredient .amount {
    flex-grow: 0;
    color: #54BC9E;
    margin: 16px;
    font-size: 14px;
    width: 52px;
    text-align: center;
}
